<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link rel="stylesheet" type="text/css" href="style.css" />
<title>hotel</title>
</head>

<body>
<div class="main" >
    <div class="header">
	     <div class="user">
	       <a href="#55"></a>	
         </div>
		 <div class="logo">
		 <h1> mini-hotel</h1>
		 </div>
         <div class="phone">
		 <h5>тел. &nbsp;  8-888-888-88-88 <br /> факс. 7(888)-888-88-88 </h5>
         </div>		 
	</div>
	<div class="block-search">
                <form class="search-form" method="post" action="/search/search">
                <ul class="search">
				<li><img class="search-img" src="images/search.png" /></img></li>
                <li><input type="text" name="search-pole" id="pole-search" /></li>
                <li><div class="search-button-block">
				       <button class="search-btn" type="submit" ref="searchButton">
					   <span class="search-btn_icon">Поиск</span>
					</div></li>
                </ul>
                </form>
    </div>	
<div class="content">
    <div class="menu">
           <li><div><a href="##">Главная</a></div></li>
           <li><div><a href="#2">Ресторан</a></div></li>
           <li><div><a href="#1">Предложения</a></div></li>
           <li><div><a href="#$">Мероприятия</a></div></li>
    </div>
<div class="informer-page">
<div><p>Главная &nbsp; &raquo;</p></div>
<div><p>Бронирование &nbsp; &raquo;</p></div>
</div>
	<div class="booking-block">
	<h2>Бронирование</h2>
	   </ul>
	   <li><p>Заезд&nbsp;</p>
	       <input id="checkIn" class="txtInput" readonly="readonly" type="date" value="2017-04-10">
		   <button class="dateInput-btn" type="button">
		   <img src="images/datepickerIcon.png" alt="..." title="...">
		   </button>
	   </li>
	   <li><p>Выезд</p>
	       <input id="checkOut" class="txtInput" readonly="readonly2" type="date" value="2017-04-10">
		   <button class="dateInput-btn" type="button">
		   <img src="images/datepickerIcon.png" alt="..." title="...">
		   </button>
	   </li>
	   <li><div class="booking-block-select-room"><select>
	       <option>Номера(2 местный)</option>
           <option>Номера(1 местный)</option>
           <option>Номера(3 местный)</option>
           <option>Номера(4 местный)</option>
		   </select></div>
       </li>
	   <li class = "booking-li-select-people">
	   <div class="booking-block-select-people"><select>
	       <option>Взрослые(2)</option>
           <option>Взрослые(1)</option>
           <option>Взрослые(3)</option>
           <option>Взрослые(4)</option>
		   <option>Взрослые(5)</option>
		   <option>Взрослые(6)</option>
		   <option>Взрослые(7)</option>
		   </select>
	   </div>
	   <div class="booking-block-select-people">
	       <select>
		   <option>Дети(0)</option>
	       <option>Дети(1)</option>
           <option>Дети(2)</option>
           <option>Дети(3)</option>
           <option>Дети(4)</option>
		   <option>Дети(5)</option>
		   <option>Дети(6)</option>
		   <option>Дети(7)</option>
		   </select>
	   </div>
	   </li>
	   <li><p>+ Промо код</p></li>
	   <li class="booking-block-clr-people"><p></p></li>
	   <li><div class="booking-block-btn"><button type="submit" name="booking-btn" id="booking-btn" value="Проверить наличие"/>Проверить наличие</button></div></li>
	</div>
	<div class="booking-block-rezult">  
	<div class="booking-filter-price">
	    <div><h2>Результат:</h2></div>
	    <div><span>Цена</span> </div>
	</div>
	<div class="booking-block-rezult-part">	
	     <div class="booking-block-part-img">		 
		 </div>
		 <div class="booking-block-part-text">	
		    <p> Максимальное размещение: <br /> 2 взрослых и 2 детей в возрасте до 12 лет <br />
	        <span>Тариф: 2700 р/ день </span></p>
		 </div>
	</div>
	<div class="booking-block-rezult-part">	
	     <div class="booking-block-part-img">		 
		 </div>
		 <div class="booking-block-part-text">	
	        <p> Максимальное размещение: <br /> 2 взрослых и 2 детей в возрасте до 12 лет <br />
	        <span>Тариф: 2700 р/ день </span></p>
		 </div>
	</div>
	<div class="booking-block-rezult-part">	
	     <div class="booking-block-part-img">		 
		 </div>
		 <div class="booking-block-part-text">	
	        <p> Максимальное размещение: <br /> 2 взрослых и 2 детей в возрасте до 12 лет <br />
	        <span>Тариф: 2700 р/ день </span></p>
		 </div>
	</div>
	<div class="booking-block-rezult-part">	
	     <div class="booking-block-part-img">		 
		 </div>
		 <div class="booking-block-part-text">	
	        <p>Цена :  2700 р/ день </p>
		 </div>
	</div>
	<div class="booking-block-rezult-part">	
	     <div class="booking-block-part-img">		 
		 </div>
		 <div class="booking-block-part-text">	
	        <p>Цена :  2700 р/ день </p>
		 </div>
	</div>

    </div>

<div class="block-info">
<div class="block-info-news">
<h3>Мы в социальных сетях</h3>
<p></p>
</div>
<div class="block-info-news">
<h3>СПА</h3>
<p>Отдых ...</p>
</div>
<div class="block-info-news">
<h3>Специальные предложения</h3>
<p>Предлагаем вам специальные условия</p>
</div>
</div>
</div>
<div class="footer">
           <ul>
           <li><a href="#">О НАС</a></li>
           <li><a href="#">КАРЬЕРА</a></li>
           <li><a href="#">ПРЕСС-ЦЕНТР</a></li>
           <li><a href="#">КОНТАКТЫ</a></li>
		   <li><a href="#">КОНТАКТЫ</a></li>
		   <li><a href="#">FAQ'S</a></li>
		   <li><a href="#">ПРАВИЛА И УСЛОВИЯ</a></li>
		   <li><a href="#">ОБРАТНАЯ СВЯЗЬ</a></li>
		   <li><a href="#">КАРТА САЙТА</a></li>
		   </ul>
</div>	
</div>
</script>
</body>
</html>
